@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  height: 100%;
  overflow-y: hidden;
}

body {
  color: #cacaca;
  background: #292929;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #cacaca;
}

a:visited {
  text-decoration: none;
  color: #cacaca;
}

a:hover {
  color: #f7484e;
  text-decoration: none;
}

.overlay {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay .x {
  position: absolute;
  right: 10px;
  top: 10px;
}

.overlay h1 {
  font-weight: 300;
  font-size: 50pt;
  width: 100%;
  text-align: center;
}

.overlay h2 {
  font-weight: 300;
  font-size: 20pt;
  width: 100%;
  text-align: center;
}

.overlay #over18 .buttons {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.overlay #over18 .buttons a {
  padding: 15px;
  border: 1px solid #f7484e;
  margin-left: 10px;
}

.overlay #about p {
  text-align: center;
  margin-top: 15px;
  font-size: 14pt;
}

.overlay #about .main {
  text-align: justify;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 1.4;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .arrow {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  overflow: hidden;
  text-decoration: none;
  height: 40px;
  width: 40px;
  margin-top: -40px;
  font-size: 26pt;
  text-align: center;
  transform: scale(0.5,1.0);
}

.container .arrow.next {
  left: auto;
  right: 0;
}

.container .arrow.prev {
  display: none;
}

.container .arrow:focus {
  outline: none;
}

.container #prefetch {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0.7;
  border: 2px solid #f7484e;
}

.container #image {
  max-width: 100%;
  max-height: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.header .logo {
  width: 170px;
  font-size: 50px;
  padding: 5px;
}

.header .logo .small {
  font-size: 13px;
  display: block;
  float: right;
}

.header .menu {
  margin-left: auto;
  margin-right: 20px;
}

.header .menu a {
  margin-right: 10px;
  font-size: 14pt;
}

.header .menu a:hover {
  color: #fff;
  text-decoration: none;
}

.accent {
  color: #f7484e;
}