@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  height: 100%;
  overflow-y: hidden;
}

body {
  color: #cacaca;
  background: #292929;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .arrow {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("arrows.gif") no-repeat left top;
  margin-top: -45px;
}

.container .arrow:active {
  opacity: 1.0;
}

.container .arrow.next {
  left: auto;
  background-position: right top;
  right: 0;
}

.container .arrow.prev {
  display: none;
}

.container .arrow:focus {
  outline: none;
}

.container #prefetch {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  opacity: 0.7;
  border: 2px solid #f7484e;
}

.container #image {
  max-width: 100%;
  max-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.footer #logo {
  border: none;
  padding: 5px;
}

.footer .menu {
  margin-left: auto;
  margin-right: 200px;
}

.footer .menu a:visited {
  color: #cacaca;
  text-decoration: none;
}

.footer .menu a {
  margin-right: 10px;
  font-size: 14pt;
  text-decoration: none;
  color: #cacaca;
}

.footer .menu a:hover {
  color: #fff;
  text-decoration: none;
}

.accent {
  color: #f7484e;
}